h3{
    color: orange;
}
button{
    color: white;
    background-color:lightskyblue;

}
p{
    /* background-color: black; */
    /* color: white; */
    color: #ffff00;
    
}
h2{
    color: #00ffff;
}
